<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <title>Manage persons</title>
</head>
<body>
<h1> Manage persons </h1>
<a th:href="@{/persons/new}">Add new person</a>
<table class="table table-bordered" style="width: 80%; margin: auto">
    <thead class="table-dark">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>e-mail</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="person: ${personList}">
      <tr>
            <td th:text="${person.firstName}">John Lennon</td>
            <td th:text="${person.lastName}">Rhythm Guitar</td>
            <td th:text="${person.email}">asdads</td>
       </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>